.payment {
}
.payment .img-payment {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.payment .button-custom {
  border-radius: 30px;
  width: 130px;
}

.center-cropped {
  object-fit: cover;
  border-radius: 50%;
}

h3 {
  font-weight: bold;
  font-family: "Kanit", sans-serif;
  color: #ff7b7b;
}

h4 {
  font-family: "Kanit", sans-serif;
}

hr {
  border-top: 1px solid #aaaaaa;
}

.pt-30 {
  padding-top: 30px;
}

.ascend {
  color: #ff7b7b;
  font-weight: bold;
}

.kbank {
  background-color: green;
  width: 100%;
  height: 40px;
  color: white;
  font-family: "Kanit", sans-serif;
  margin-top: 5px;
}

.scb {
  background-color: indigo;
  width: 100%;
  height: 40px;
  color: white;
  font-family: "Kanit", sans-serif;
  margin-top: 5px;
}

.bbl {
  background-color: blue;
  width: 100%;
  height: 40px;
  color: white;
  font-family: "Kanit", sans-serif;
  margin-top: 5px;
}
