.payment {
}
.payment .img-product {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 30%;
}

.payment .button-custom {
  border-radius: 30px;
  width: 130px;
}

.center-cropped {
  object-fit: cover;
  border-radius: 50%;
}

h3 {
  font-weight: bold;
  font-family: "Kanit", sans-serif;
  color: #ff7b7b;
}

h4 {
  font-family: "Kanit", sans-serif;
}

hr {
  border-top: 1px solid #aaaaaa;
}

.pt-30 {
  padding-top: 30px;
}

.ascend {
  color: #ff7b7b;
  font-weight: bold;
}
