.legoimage {
  /* background-color: yellow; */
  /* background-image: url(env(PUBLIC_URL) + '/loginBG.png}'); */
  border-radius: 50%;
  font-size: 64px;
  padding: 100px;
  width: 20%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logocontainer {
  width: 100%;
  height: 100%;
}
.inputcontainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 26px;
}
.inputwidth100 {
  border-radius: 30px;
  width: 100%;
  height: 40px;
}
.loginwithcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 10px;
}
.roundbutton {
  background-color: var(--violet);
  border-radius: 30px;
  width: 300px;
  height: 60px;
  font-size: 32px;
  border: 0;
  color: white;
  cursor: pointer;
}

.font12 {
  font-size: 12px;
}
.font12 {
  font-size: 16px;
}

.flexcolumncenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
