/* .searchresultcontainer {
  display: grid;
  align-self: start;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 200px);
  justify-items: center;
  align-items: center;
  row-gap: 50px;
  column-gap: 50px;
} */

.imageresult {
  height: 150px;
  width: 150px;
  border-radius: 30px;
  object-fit: cover;
}
h4 {
  font-family: "Kanit", sans-serif;
}

h1 {
  font-family: "Kanit", sans-serif;
}

hr {
  border-top: 1px solid #aaaaaa;
}
