.imageresult {
  height: 300px;
  width: 300px;
  border-radius: 30px;
  object-fit: cover;
}

hr {
  border-top: 1px solid #aaaaaa;
}

.gridproductcontainer {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  grid-template-columns: auto auto;
  justify-content: center;
}
